aiofiles @ file:///build/python-aiofiles/src/aiofiles/dist/aiofiles-0.7.0-py3-none-any.whl
aiohttp==3.7.4.post0
aiohttp-socks==0.4.2
apparmor==3.0.1
appdirs==1.4.4
application-utility==1.3.2
APScheduler==3.6.3
arandr==0.1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.2.0
Automat==20.2.0
baron==0.8
bauh==0.9.16
Beaker==1.11.0
blist==1.3.6
btrfsutil==5.12.1
CacheControl==0.12.6
cachetools==4.2.2
cairocffi==1.2.0
CairoSVG==2.5.2
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.4.7
cssselect2==0.4.1
defusedxml==0.7.1
deluge==2.0.4.dev56
distlib==0.3.1
distro==1.5.0
dnspython==1.16.0
docopt==0.6.2
evdev==1.4.0
filetype==1.0.7
future==0.18.2
GeoIP==1.3.2
greenlet==1.1.0
gufw==21.4.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hsluv==5.0.2
html-sanitizer==1.9.1
html5lib==1.1
httpie==2.4.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.1
importlib-metadata==4.0.1
incremental==21.3.0
jsonschema==3.2.0
lensfun==0.3.95
LibAppArmor==3.0.1
Logbook==1.5.3
louis==3.17.0
lutris==0.5.8.3
lxml==4.6.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
matrix-nio==0.18.1
mistune==0.8.4
msgpack==1.0.2
multidict==5.1.0
netsnmp-python==1.0a1
npyscreen==4.10.5
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.2
peewee==3.14.4
pep517==0.10.0
Pillow==8.2.0
ply==3.11
plyer==2.0.0
progress==1.5
psutil==5.8.0
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycparser==2.20
pycryptodome==3.10.1
Pygments==2.9.0
PyGObject==3.40.1
pymediainfo==5.1.0
pynvim==0.4.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
pyrsistent==0.17.3
pysmbc==1.0.23
PySocks==1.7.1
python-dateutil==2.8.1
python-libtorrent==1.2.11
python-olm==3.2.3
python-telegram-bot==13.5
python-xapp==2.0.2
python-xlib==0.30
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
rados==2.0.0
ranger-fm==1.9.3
rbd==2.0.0
redbaron==0.9.2
rencode==1.0.6
reportlab==3.5.67
requests==2.25.1
requests-toolbelt==0.9.1
resolvelib==0.5.4
retrying==1.3.3
rgw==2.0.0
rply==0.7.8
schedule==1.1.0
selinux==3.2
service-identity==21.1.0
setproctitle==1.2.2
simpleaudio==1.0.4
six==1.16.0
sortedcontainers==2.4.0
speedtest-cli==2.1.3
team==1.0
tinycss2==1.1.0
toml==0.10.2
tornado==6.1
Twisted==21.2.0
typing-extensions==3.10.0.0
tzlocal==2.1
ueberzug==18.1.9
ufw==0.36
unpaddedbase64 @ file:///build/python-unpaddedbase64/src/python-unpaddedbase64-2.1.0/dist/unpaddedbase64-2.1.0-py3-none-any.whl
urllib3==1.26.5
watchgod==0.6
webencodings==0.5.1
xcffib==0.11.1
yarl==1.6.3
zipp==3.4.1
zope.interface==5.4.0
